<div class="navbar card flex align-items-center gap-2">
    <div class="logo">
        <h4 style="font-size: 25px;">{{getFirstLetters(user.firmName) | uppercase}}</h4>
    </div>
    <h3>{{user.firmName | titlecase}}</h3>
</div>
<div class="add-product">
    <p>~ Hi {{user.firstName | titlecase}} {{user.lastName | titlecase}}</p>
    <p-button label="Add Product" (click)="showDialog()" icon="pi pi-plus-circle"></p-button>
</div>
<p-dialog header="Add Product" [(visible)]="visible" [breakpoints]="{ '960px': '75vw' }" [style]="{ width: '50vw' }"
    [draggable]="false" [resizable]="false">
    <div class="">
        <form [formGroup]="addProductForm">
            <div formArrayName="products">
                <div *ngFor="let product of products.controls; let i = index;let l=last;">
                    <div class="flex gap-3 mb-1 justify-content-between" [formGroupName]="i">

                        <input pInputText style="width: 100%"  formControlName="productName" type="text"
                            placeholder="Product Name" />
                        <p-button icon="pi pi-plus-circle" (click)="addProduct()" *ngIf="l"></p-button>
                        <p-button icon="pi pi-minus-circle" (click)="addRemove(i)" *ngIf="!l "></p-button>
                    </div>
                </div>
            </div>
            <div class="mt-4 text-center">
                <p-button label="Submit" (click)="onSubmit()"></p-button>
            </div>
        </form>
    </div>
</p-dialog>
<app-create-order [addProductForm]="addProductForm" [getAllData]="getAllData" [user]="user"></app-create-order>